@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: o;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: red;
}
a {
  text-decoration: underline;
}
p {
  margin: 0.75rem 0;
}
